@charset "UTF-8";

:root {
	font: 400 15px/1.5 -apple-system, sans-serif;
	font-size-adjust: from-font;
	text-rendering: optimizeLegibility;
	text-autospace: normal;
	text-spacing-trim: trim-start;

	-webkit-font-smoothing: antialiased;

	color-scheme: light dark;
}

body {
	max-width: 820px;
	margin: 1rem auto 2rem;
	padding: 0 2.75rem;
}

a {
	text-decoration-line: unset;
}
a:link, a:visited {
	color: -apple-system-blue;
}
a:hover {
	text-decoration-line: underline;
}

kbd {
	font-family: inherit;
}
pre, code {
	font-family: monospace;
	font-size: 95%;
	tab-size: 4;
}
pre {
	background: rgba(128, 128, 128, 0.1);
	padding: 0.75em 1em;
	border-radius: 0.5em;
	overflow-x: auto;
}
code {
	background: rgba(128, 128, 128, 0.15);
	padding: 0.1em 0.3em;
	border-radius: 0.25em;
}
pre code {
	background: none;
	padding: 0;
}
dfn {
	font-style: inherit;
}

summary {
	cursor: pointer;
}
